name: Load

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main
    tags: '*'

permissions:
  contents: read

  # needed for julia-actions/cache to delete old caches
  actions: write

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'    # latest stable 1.x release
          - '1.13-nightly'
          - 'nightly'
        os:
          - 'ubuntu-latest'
          - 'macOS-15-intel'
          - 'windows-latest'
          - 'macOS-latest'

    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1

      - name: Run tests
        uses: julia-actions/julia-runtest@v1
